#mainMenu {
    width: 100px;
    height:40px;
}
img.signalBars {
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100px;
}
#charging {
    position: fixed;
    top: 10px;
    right: 0px;
    width: 100px;
}