html {
    background-color: blueviolet;
}
body {
    background-color: lightpink;
    position: relative;
    top: 50px;
}
#mainMenu {
    width: 100px;
    height:40px;
    background-color: limegreen;
}
#charging {
    align: center;
}
